<div id="dag-container">
    <div class="form-group">
        <label for="dag_name" class="col-md-2 control-label">DAG Name &nbsp;<span class="glyphicon glyphicon-info-sign" aria-hidden="true" title='设置唯一的任务名字Id'>&nbsp;</span><strong style="color: red">*</strong></label>
        <div class="col-md-10 form-field">
            <input class="form-control" id="dag_name" name="dag_name" type="text" value="{{ conf.dag_name }}" {% if readonly %}readonly="readonly"{% endif %}></div>
    </div>
    <div class="form-group">
        <label for="cron" class="col-md-2 control-label">Cron <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title='Cron时间表达式&#10;设置任务的执行周期'></span> &nbsp;<strong style="color: red">*</strong></label>
        <div class="col-md-10 form-field">
            <input class="form-control" id="cron" name="cron" type="text" value="{{ conf.cron }}" {% if readonly %}readonly="readonly"{% endif %}></div>
    </div>
    <div class="form-group">
                    <label for="start_date" class="col-md-2 control-label long-label">Start Date <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title='任务的执行的开始时间&#10;注意设置提前一个时间周期'>&nbsp;</span> <strong style="color: red">*</strong> &nbsp;</label>
                    <div class="col-md-10 form-field">
                        <input class="form-control" data-date-format='YYYY-MM-DD HH:mm:ss' data-role="datetimepicker" id="start_date" name="start_date" value="{{ conf.start_date }}"  {% if readonly %}readonly="readonly"{% endif %}></div>
    </div>

    <div class="panel panel-default advanced-settings-collapse">
        <div class="panel-heading" role="tab" id="dag_advanced_settings_header">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#dag_advanced_settings" aria-expanded="false" aria-controls="dag_advanced_settings">Advanced Settings</a>
                <span class="advanced-settings-tool-bar">
                    <a href="javascript:void(0)" class="advanced-settings-expand-all advanced-settings-tool">Expand All</a>
                    <span class="advanced-settings-tool">/</span>
                    <a href="javascript:void(0)" class="advanced-settings-collapse-all advanced-settings-tool" style="margin-right: 20px;">Collapse All</a>
                </span>
            </h4>
        </div>
        <div id="dag_advanced_settings" class="panel-collapse collapse" style="background: transparent;" role="tabpanel" aria-labelledby="dag_advanced_settings_header">
            <div class="panel-body">

                <div class="form-group">
                    <label for="owner" class="col-md-2 control-label long-label">Owner <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title='任务的归属者&#10;默认airflow用户'></span> &nbsp;</label>
                    <div class="col-md-10 form-field">
                        <input class="form-control" id="owner" name="owner" type="text" value="{{ conf.owner }}"  {% if readonly %}readonly="readonly"{% endif %}></div>
                </div>

            </div>
        </div>
    </div>
</div>